<div class="row" *ngIf="overviewSection">
  <div class="col-sm-9 box-shadow">
    <button class="btn btn-primary" (click)="tour()">Want tour</button>
    <div class="row">
      <div class="col-sm-6 colsm-12 p-5"  joyrideStep="firstStepApplicantSection" [stepContent]="customContent"  [prevTemplate]="prevButton" [nextTemplate]="nextButton" [doneTemplate]="doneButton" title="Applicant section" text="Here you can see your applicant details">
        <div class="card shadow-sm">
          <div class="card-body pd">
            <div class="row">
              <div class="col-sm-7">
                <span><i class="fas fa-user usericon"></i></span><span class="fs-20 p-5 vertical-align">Applicant</span>
              </div>
            </div>
            <div >
            <ng-container *ngIf="applicantdetails!={}">
              <div class="row pt-10">
                <div class="col-sm-5">
                  <span class="text-muted fs-12">First Name</span>
                  <p class="">{{ applicantdetails?.FirstName }}</p>
                </div>
                <div class="col-sm-7">
                  <span class="text-muted fs-12">Last Name</span>
                  <p class="">{{ applicantdetails?.LastName }}</p>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-5">
                  <span class="text-muted fs-12">Phone (M)</span>
                  <p class="">{{ applicantdetails?.Mobile }}</p>
                </div>
                <div class="col-sm-7">
                  <span class="text-muted fs-12">Email</span>
                  <p class="normalTextFormat text-truncate" isEllipsisActive>{{ applicantdetails.Email }}</p>
                </div>
              </div>
              <div class="row mt-20">
                <div class="col-sm-12">
                  <p class="text-primary  float-right pointer" (click)="relatedFilingsModel(relatedfilings)">
                    View Related Filings
                  </p>
                </div>
              </div>
            </ng-container>
          </div>
            <ng-container *ngIf="applicantdetails=={}">
              <div class="mx-auto text-align" *ngIf="applicantdetails=={}">
                <img src="../../../../../../assets/inbox.png" class="addnoteempty text-center pt-25" />
                <p class="text-center pb-20 pt-10">No data found.</p>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
      <div class="col-sm-6 colsm-12 p-5" joyrideStep="secondStepSponserSection" title="Sponser section" text="Here you can see filing sponserer details">
        <div class="card shadow-sm">
          <div class="card-body pd">
            <div class="row">
              <div class="col-sm-7">
                <span><i class="fa fa-building sponsericon" aria-hidden="true"></i> </span><span
                  class="fs-20 p-5 vertical-align">Sponsor</span>
              </div>
            </div>
            <ng-container *ngIf="sponserdetails!={}">
              <div class="row pt-10">
                <div class="col-sm-12">
                  <span class="text-muted fs-12">Company Name</span>
                  <p class="">{{ sponserdetails.OrganisationName }}</p>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-5">
                  <span class="text-muted fs-12">First Name</span>
                  <p class="">{{ sponserdetails.FirstName }}</p>
                </div>
                <div class="col-sm-7">
                  <span class="text-muted fs-12">Last Name</span>
                  <p class="">{{ sponserdetails.LastName }}</p>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-5">
                  <span class="text-muted fs-12">Phone (M)</span>
                  <p class="">{{ sponserdetails.Mobile }}</p>
                </div>
                <div class="col-sm-7">
                  <span class="text-muted fs-12 normalTextFormat">Email</span>
                  <p class=" normalTextFormat">{{ sponserdetails.Email }}</p>
                </div>
              </div>
            </ng-container>
            <ng-container *ngIf="sponserdetails=={}">
              <div class="mx-auto text-align" *ngIf="applicantdetails=={}">
                <img src="../../../../../../assets/inbox.png" class="addnoteempty text-center pt-25" />
                <p class="text-center pb-20 pt-10">No data found.</p>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-10">
      <div class="col-sm-6 colsm-12 p-5" joyrideStep="thirdStepActivitySection" title="Activity section" text="Here you can see Your activity Info">
        <div class="card shadow-sm">
          <div class="card-body pd">
            <div class="row">
              <div class="col-sm-12" style="margin-bottom: 15px">
                <span><i class="fas fa-list-ul activityicon" aria-hidden="true"></i> </span><span
                  class="fs-20 p-5 vertical-align">Activity</span>
              </div>
            </div>
            <div class="activity-feed" *ngIf="activityinfo.length">
              <div class="feed-item" *ngFor="let activity of activityinfo | slice: 0:activityviewall">
                <div class="text">{{ activity.ActivityName }}</div>
                <div class="date normalTextFormat">
                  {{ activity.ActivityCreatedby }} - {{ activity.CreatedOn | date: 'MM/dd/yyyy hh:mm a' }}
                </div>
              </div>
              <div class="row pb-10">
                <div class="col-sm-12 text-center text-primary pointer" (click)="viewall()">
                  {{ activityview }}
                </div>
              </div>
            </div>
            <div class="mx-auto text-align" *ngIf="activityinfo.length==0">
              <img src="../../../../../../assets/icons/add-note.svg" class="addnoteempty text-center pt-25" />
              <p class="text-center pb-20 pt-10">No Active activities found.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 colsm-12 p-5" joyrideStep="fourthStepNotesSection" title="Notes section" text="Here you can see take your notes about this filing">
        <div class="card shadow-sm">
          <div class="card-body pd">
            <div class="row">
              <div class="col-sm-7" style="margin-bottom: 15px;">
                <span><i class="far fa-copy notesicon"></i> </span><span class="fs-20 p-5 vertical-align">My
                  Notes</span>
              </div>
              <div class="col-sm-5">
                <span class="float-right text-primary p-6 pointer" (click)="modelAddNote(noteRef)">+Add</span>
              </div>
            </div>
            <div class="mx-auto text-align" *ngIf="notes.length==0">
              <img src="../../../../../../assets/icons/add-note.svg" class="addnoteempty text-center pt-25" />
              <p class="text-center pb-20 pt-10">No Active notes found.</p>
            </div>
            <div class="activity-feed notes mt-10" *ngIf="notes.length">
              <div class="feed-item" *ngFor="let note of notes | slice: 0:notesviewall">
                <div class="text">{{ note.Notetitle }}</div>
              </div>
            </div>
            <div class="row pb-10">
              <div class="col-sm-12 text-center text-primary pointer" (click)="notesclick()" *ngIf="notes.length>0">
                {{ notesview }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-10">
      <div class="col-sm-12 colsm-12 p-5" joyrideStep="fifthStepTrackingSection" title="Shipment tracking section"  text="Here you can track your documents about this filing">
        <div class="card shadow-sm" >
          <div class="card-body pd">
            <div class="row">
              <div class="col-md-4">
                <span><i class="fas fa-truck trackicon"></i> </span><span class="fs-20 p-5 vertical-align">Shipment
                  Tracking</span>
              </div>
              <div class="col-md-4 text-center text-muted">
                <p class=" p-6" *ngIf="Shipmentdetails.length>0">Last updated:
                  {{Shipmentdetails[0].CreatedOn | date: 'MM/dd/yyyy hh:mm a'}}</p>
              </div>
              <div class="col-md-4">
                <span class="float-right text-primary p-6  pointer"
                  *ngIf="FillingPermissions? (FillingPermissions.CanAddEditShippingOutDetailsToFiling):true"
                  (click)="Modeladdtrack(track)">+Add Tracking Number</span>
              </div>

            </div>
            <div class="col-md-3 mx-auto text-align" *ngIf="Shipmentdetails.length==0">
              <img src="../../../../../../assets/icons/shiping-emtpy.svg" class="shipingempty" />
              <p class="text-center pb-20 pt-10">No Shipment Details found.</p>

            </div>

            <div *ngIf="Shipmentdetails.length>0">
              <div class="row px-13" *ngFor="let shipment of Shipmentdetails;let i = index">
                <div class="col-sm-12 p-5">
                  <div class="card">
                    <div class="card-body pd pb-10">
                      <div class="row pointer" (click)="toggler($event,i)">
                        <div class="row col-12 pt-10">
                          <div class="col-3">
                            <span class="text-primary">{{shipment.Title}}</span>
                          </div>
                          <div class="col-4">
                            <span class="text-primary">TRK# {{shipment.TrackingNumber}}</span>
                          </div>
                          <div class="col-2">
                            <span>Status</span>
                            <span class="text-primary">{{shipment.TrackingDetails?.StatusDetailDescription}}</span><br>
                          </div>

                          <div class='offset-1 col-2'>
                            <span class="icon-circle" (click)="EditShiping(shipment,track)"
                              *ngIf="FillingPermissions? (FillingPermissions.CanAddEditShippingOutDetailsToFiling):true &&shipment.CreatedBy==username"><i
                                class="fas fa-pencil-alt"></i></span>
                            <span class="icon-circle ml-4" *ngIf="username==shipment.CreatedBy"
                              (click)="DeleteShippopup(shipment,deleteshipmentPopUp)"><i
                                class="fas fa-trash-alt"></i></span>
                            <span class="float-right">More<i class="fa fa-chevron-down" aria-hidden="true"></i></span>
                          </div>
                        </div>
                      </div>
                      <div class="d-n mt-10" id="togg{{i}}">
                        <div class="row">
                          <div class="col-md-12">
                            <div class="row">
                              <ng-container *ngIf="shipment?.TrackingDetails?.TrackEvents">
                                <div class="col-3"></div>
                                <div class="col-6 activity-feed">
                                  <div class="feed-item" *ngFor="let activity of shipment.TrackingDetails.TrackEvents">
                                    <div class="text">{{ activity.EventDesc }}</div>
                                    <div class="date normalTextFormat">
                                      {{ activity.EventType }} -
                                      {{ activity.Timestamp | date: 'MM/dd/yyyy hh:mm a' }}
                                    </div>
                                  </div>
                                </div>
                                <div class="col-3"></div>
                              </ng-container>
                              <div class="mx-auto text-align" *ngIf="!shipment?.TrackingDetails?.TrackEvents">
                                <img src="../../../../../../assets/icons/add-note.svg"
                                  class="addnoteempty text-center pt-25" />
                                <p class="text-center pb-20 pt-10">{{shipment.TrackingDetails}}</p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-3 p-16 bg-white shadow-sm rounded" joyrideStep="sixthStepFilingStatus" title="Status section"  text="Here you can track your filing status and tasks status">
    <div class="row">
      <div class="col-sm-9 fs-16 font-weight-bold">
        Filing Details
      </div>
      <div class="col-sm-3 text-primary "*ngIf="fillingDetails!=={}">
        <span class="float-right pointer" (click)="ModelviewFiling(viewRef)"
          *ngIf="fillingDetails.FilingStatus!='Completed'">Edit</span>
      </div>
    </div>
    <ng-container *ngIf="fillingDetails!=={}">
      <div class="row">
        <div class="col-sm-10 py-5">
          <button class="btn btn-default dp-button ml-9 fs-12">{{ fillingDetails.FilingStatus }}</button>
          <p class="text-muted fs-12">Filing Status</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <span class="text-muted">Filing Date</span>
          <p class="fs-14">{{ fillingDetails.FilingSubmitDate | date: 'MM/dd/yyyy' }}</p>
        </div>
        <div class="col-sm-6">
          <span class="text-muted">Filing Type</span>
          <p class="fs-14">{{fillingDetails.FilingType!= null ? fillingDetails.FilingType : 'H1'}}</p>
        </div>
        <div class="col-sm-6">
          <span class="text-muted">Receipt Number</span>
          <p class="fs-14">{{ fillingDetails.ReceiptNumber }}</p>
        </div>
        <div class="col-sm-6">
          <span class="text-muted">LCA Number</span>
          <p class="fs-14">{{ fillingDetails.LCANumber }}</p>
        </div>
      </div>
      <div class="row mb-5">
        <div class="col-sm-6">
          <div class="btn btn-sm btn-outline fs-12"
            *ngIf="FillingPermissions ? FillingPermissions.CanCreateTasks : true">
            Deactivate Filing</div>
        </div>
        <div class="col-sm-6">
          <div class="btn btn-sm btn-outline-danger fs-12"
            *ngIf="FillingPermissions ? FillingPermissions.CanCreateTasks : true">Delete Filing</div>
        </div>
      </div>
    </ng-container>
    <div class="mx-auto text-align" *ngIf="fillingDetails=={}">
      <img src="../../../../../../assets/icons/add-note.svg" class="addnoteempty text-center pt-25" />
      <p class="text-center pb-20 pt-10">No filling data found.</p>
    </div>
    <hr />
    <div class="row">
      <div class="col-sm-12 fs-16 font-weight-bold">
        Tasks Summary
      </div>
    </div>

    <div class="row" *ngIf="Tasksummarydetails == ''">
      <div class="col-sm-12 fs-16">
        No Task Summary found.
      </div>
    </div>

    <div class="row" *ngIf="Tasksummarydetails.ApplicantTasks != ''">
      <div class="col-sm-4">
        <circle-progress [percent]="Tasksummarydetails?.ApplicantTasks?.PercentageOfTasksCompleted" [radius]="100"
          [outerStrokeWidth]="16" [innerStrokeWidth]="8" [outerStrokeColor]="this.Tasksummarycolors.applicant"
          [innerStrokeColor]="'#f2f2f2'" [animation]="true" [animationDuration]="100"></circle-progress>
      </div>
      <div class="col-sm-8">
        <span class=" text-muted">Applicant Tasks</span>
        <p class="fs-14">{{ Tasksummarydetails?.ApplicantTasks?.CompletedTasks }}/{{
          Tasksummarydetails?.ApplicantTasks?.TotalTasks
          }}</p>

      </div>
    </div>
    <div class="row" *ngIf="Tasksummarydetails.SponserTeamTasks != ''">
      <div class="col-sm-4">
        <circle-progress [percent]="Tasksummarydetails?.SponserTeamTasks?.PercentageOfTasksCompleted" [radius]="100"
          [outerStrokeWidth]="16" [innerStrokeWidth]="8" [outerStrokeColor]="this.Tasksummarycolors.sponser"
          [innerStrokeColor]="'#f2f2f2'" [animation]="true" [animationDuration]="100"></circle-progress>
      </div>
      <div class="col-sm-8">
        <span class=" text-muted">Sponsor Team Tasks</span>
        <p class="fs-14">{{ Tasksummarydetails?.SponserTeamTasks?.CompletedTasks }}/{{
          Tasksummarydetails?.SponserTeamTasks?.TotalTasks
          }}</p>
      </div>
    </div>
    <div class="row pb-10" *ngIf="Tasksummarydetails.YourTeamTasks != ''">
      <div class="col-sm-4">
        <circle-progress [percent]="Tasksummarydetails?.YourTeamTasks?.PercentageOfTasksCompleted" [radius]="100"
          [outerStrokeWidth]="16" [innerStrokeWidth]="8" [outerStrokeColor]="this.Tasksummarycolors.yourteam"
          [innerStrokeColor]="'#f2f2f2'" [animation]="true" [animationDuration]="100"></circle-progress>
      </div>
      <div class="col-sm-8">
        <span class=" text-muted">Your Team Tasks</span>
        <p class="fs-14">{{ Tasksummarydetails?.YourTeamTasks?.CompletedTasks }}/{{
          Tasksummarydetails?.YourTeamTasks?.TotalTasks
          }}</p>
      </div>
    </div>
    <hr />
    <div class="row pt-13">
      <div class="col-sm-12 fs-16 font-weight-bold">
        Your Upcoming Tasks
      </div>
    </div>
    <div class="row pt-13" *ngIf="Upcomingtaskdetails.length != 0">
      <div class="col-sm-12" *ngFor="let upcomingtaskdetail of Upcomingtaskdetails | slice: 0:10">
        <span class="fs-14">{{ upcomingtaskdetail.TaskTitle }}</span>
        <p class="text-danger">{{ upcomingtaskdetail.TasksStatus }}</p>
      </div>
    </div>
    <div class="row" style="margin-top:25px" *ngIf="Upcomingtaskdetails.length == 0">
      <div class="col-sm-12">
        <span class="fs-14 text-danger">There is no upcoming tasks.</span>
      </div>
    </div>

  </div>
</div>

<ng-template #viewRef let-d="dismiss" id="ModelviewFiling">
  <div class="gl-modal-header p-20 bg-model text-white text-align">
    <span class="fs-16 mb-0 d-ib">Filing Details</span>
    <span class="modal-close close" ngbAutofocus (click)="CloseviewFiling('close click')">
      <i class="fa fa-times" aria-hidden="true"></i>
    </span>
  </div>
  <div class="lo-modal-body p-20 pb-100">
    <form [formGroup]="fliingForm">
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="expirationDate">Filing Date</label>
            <div class="input-group calendar">
              <input type="text" id="expirationDate" class="form-control" name="expirationDate"
                [(ngModel)]="fillingmodel.fillingdate" formControlName="fillingdate" name="fillingdate"
                #dp="bsDatepicker" bsDatepicker
                [bsConfig]="{ showWeekNumbers: false, containerClass: 'theme-dark-blue' }" />
              <span class="input-group-prepend">
                <button type="button" class="btn btn-light" (click)="dp.toggle()">
                  <i class="fa fa-calendar" aria-hidden="true"></i>
                </button>
              </span>
            </div>
            <small
            *ngIf="fliingForm.controls['fillingdate'].errors && (fliingForm.controls['fillingdate'].dirty || fliingForm.controls['fillingdate'].touched)">
            <small class="text-danger" *ngIf="fliingForm.get('fillingdate').hasError('required')">Filing Date is
              required.
            </small>
          </small>
          </div>
          
        </div>
        <div class="col-sm-6">
          <label for="filing type">Filing Type</label>
          <select class="form-control" id="sel1" (change)="selectFillingType($event)"
            [(ngModel)]="fillingmodel.fillingtype" formControlName="fillingtype" name="fillingtype">
            <option [value]="item.FilingName" *ngFor="let item of fillingTypes">{{item.FilingName}}</option>
          </select>
          <small
            *ngIf="fliingForm.controls['fillingtype'].errors && (fliingForm.controls['fillingtype'].dirty || fliingForm.controls['fillingtype'].touched)">
            <small class="text-danger" *ngIf="fliingForm.get('fillingtype').hasError('required')">Filing Type is
              required.
            </small>
          </small>
        </div>
      </div>
      <div class="row pb-10">
        <div class="col-sm-6">
          <label for="receipiprtnumber">Receipt Number</label>
          <input type="text" class="form-control" placeholder="Receipt Number"
            [attr.disabled]="FillingPermissions ? !(FillingPermissions.CanAddEditReceiptNumberToFiling) : null"
            [(ngModel)]="fillingmodel.receiptnumber" (focus)="visitingInput()" formControlName="receiptnumber"
            name="receiptnumber" />
          <small
            *ngIf="fliingForm.controls['receiptnumber'].errors && (fliingForm.controls['receiptnumber'].dirty || fliingForm.controls['receiptnumber'].touched)">
            <small class="text-danger" *ngIf="fliingForm.get('receiptnumber').hasError('required')">Receipt Number is
              required.
            </small>
          </small>
          <small class="text-danger" *ngIf="fliingForm.get('receiptnumber').hasError('maxlength') &&
      !fliingForm.get('receiptnumber').hasError('pattern')">Maximum 25 characters</small>
          <small class="text-danger" *ngIf="fliingForm.get('receiptnumber').hasError('minlength') &&
      !fliingForm.get('receiptnumber').hasError('pattern')">Minimum 5 characters</small>
        </div>
        <div class="col-sm-6">
          <label for="lca number">LCA Number</label>
          <label class="float-right pointer text-primary" (click)="Viewlcanumber()">View LCA Number</label>
          <input type="text" class="form-control" placeholder="LCA Number" [(ngModel)]="fillingmodel.lcanumber"
            (focus)="visitingInput()" formControlName="lcanumber" name="lcanumber" />
          <small
            *ngIf="fliingForm.controls['lcanumber'].errors && (fliingForm.controls['lcanumber'].dirty || fliingForm.controls['lcanumber'].touched)">
            <small class="text-danger" *ngIf="fliingForm.get('lcanumber').hasError('required')">LCA Number is required.
            </small>
          </small>
          <small class="text-danger" *ngIf="fliingForm.get('lcanumber').hasError('maxlength') &&
      !fliingForm.get('lcanumber').hasError('pattern')">Maximum 25 characters</small>
          <small class="text-danger" *ngIf="fliingForm.get('lcanumber').hasError('minlength') &&
      !fliingForm.get('lcanumber').hasError('pattern')">Minimum 5 characters</small>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <label for="filingstatus">Filing Status</label>
          <select class="form-control"
            [attr.disabled]="FillingPermissions ? !(FillingPermissions.CanUpdateFilingStatus) : null"
            [(ngModel)]="selectedfstatus" (ngModelChange)="fillingstatusselect(selectedfstatus)"
            (focus)="visitingInput()" formControlName="filingstatus" name="filingstatus">
            <option *ngFor="let filling of fillings" [selected]="selectedfstatus == filling" [value]="filling">{{
              filling
              }}</option>
          </select>
          <small
            *ngIf="fliingForm.controls['filingstatus'].errors && (fliingForm.controls['filingstatus'].dirty || fliingForm.controls['filingstatus'].touched)">
            <small class="text-danger" *ngIf="fliingForm.get('filingstatus').hasError('required')">LCA Number is
              required.
            </small>
          </small>
        </div>
        <div class="col-sm-6" *ngIf="false">
          <div class="form-group" class="pt-33">
            <input type="checkbox" id="4" class="ml-10" (change)="toggleEditable($event)" [checked]="autoupdateselected"
              class="example-margin" />
            <label for="4" class="checkbox"></label> Auto Update Filing Status
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer bg-model-footer">
    <button type="button" class="btn btn-outline" (click)="CloseviewFiling('close click')">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="submitfillingdetails(FilingStatusCompleted)"
      [disabled]="!fliingForm.valid">Save</button>
  </div>
  <div class="row" *ngIf="isempty" style="margin-left:20px !important; margin-top:20px !important">
    <p class="alert alert-danger">{{ errormessage }}</p>
  </div>
</ng-template>

<!-- add note model -->
<ng-template #noteRef let-d="dismiss" id="Modeladdnote">
  <div class="gl-modal-header p-20 bg-model text-white text-align">
    <span class="fs-16 mb-0 d-ib">Add Note</span>
    <span class="modal-close close" ngbAutofocus (click)="Closeaddnote('close click')">
      <i class="fa fa-times" aria-hidden="true"></i>
    </span>
  </div>
  <div class="lo-modal-body p-20">
    <div class="row">
      <div class="col-sm-12">
        <label>Note:</label>
        <textarea name="" id="" cols="30" class="form-control" rows="4" placeholder="Add your note..."
          [(ngModel)]="addnote" (ngModelChange)="addnotechnage(addnote)"></textarea>
        <div>
          <label class="float-right">{{notelength}}/200</label>
        </div>
        <small class="text-danger" *ngIf="notelength==0">Please enter Addnote.</small> <br>
        <small class="text-danger" *ngIf="notelength>200">Maximum 200 characters allowed.</small>
      </div>
    </div>
  </div>
  <div class="modal-footer bg-model-footer">
    <button type="button" class="btn btn-outline" (click)="Closeaddnote('close click')">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="saveNote()"
      [disabled]="notelength==0 || notelength>200">Save</button>
  </div>
</ng-template>

<!-- *****************end add note model *********************-->

<ng-template #track let-d="dismiss" id="Modeladdtrack">
  <div class="gl-modal-header p-20 bg-model text-white text-align">
    <span class="fs-16 mb-0 d-ib">Add Shipment</span>
    <span class="modal-close close" ngbAutofocus (click)="Closeaddtrack('close click')">
      <i class="fa fa-times" aria-hidden="true"></i>
    </span>
  </div>
  <div class="lo-modal-body p-20">
    <form [formGroup]="shipmentForm">
      <div class="row">
        <div class="col-sm-12">
          <label>Title<i class="required">*</i></label>
          <input (focus)="visitingInput()" formControlName="Shipmenttittle" type="text" class="form-control"
            placeholder="e.g Client Documents" [(ngModel)]="Shipmenttittle" />
          <small *ngIf="
          shipmentForm.controls['Shipmenttittle'].errors &&
            (shipmentForm.controls['Shipmenttittle'].dirty || shipmentForm.controls['Shipmenttittle'].touched)
          ">
            <small class="text-danger" *ngIf="shipmentForm.get('Shipmenttittle').hasError('required')">Title
              required</small>
            <small class="text-danger" *ngIf="shipmentForm.get('Shipmenttittle').hasError('pattern')"> Enter only
              Characters and Numbers</small>
            <small class="text-danger" *ngIf="
              shipmentForm.get('Shipmenttittle').hasError('maxlength') &&
              !shipmentForm.get('Shipmenttittle').hasError('pattern') 
            ">Maximum 30 characters</small>
          </small>
        </div>
      </div>
      <div class="row pt-10">
        <div class="col-sm-12">
          <label>Shipment Tracking Number<i class="required">*</i></label>
          <input (focus)="visitingInput()" formControlName="Shipmentnumber" type="text" class="form-control"
            placeholder="e.g 546578678" [(ngModel)]="Shipmentnumber" />
          <small *ngIf="
        shipmentForm.controls['Shipmentnumber'].errors &&
          (shipmentForm.controls['Shipmentnumber'].dirty || shipmentForm.controls['Shipmentnumber'].touched)
        ">
            <small class="text-danger" *ngIf="shipmentForm.get('Shipmentnumber').hasError('required')">Shipment tracking
              number required</small>
          </small>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer bg-model-footer">
    <button type="button" class="btn btn-outline" (click)="Closeaddtrack('close click')">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="SubmitTrackingid()"
      [disabled]="!shipmentForm.valid">Save</button> <br />
  </div>
</ng-template>

<!-- *****************end Add tracking *********************-->

<!-- *****************Related Filings *********************-->
<ng-template #relatedfilings let-d="dismiss" id="modelRelatedfilings">
  <div class="text-center mt-24" *ngIf="relatedfilling.length==0">
    <p class="pt-20 fs-20"> No Related fillings found.</p>
  </div>
  <div class="gl-modal-header p-20 bg-model text-white text-align" *ngIf="relatedfilling.length!=0">
    <span class="fs-16 mb-0 d-ib">Related Filings</span>
    <span class="modal-close close" ngbAutofocus (click)="relatedFilingsclose('close click')">
      <i class="fa fa-times" aria-hidden="true"></i>
    </span>
    <div class="lo-modal-body p-20">
      <div class="row" *ngFor="let rfilling of relatedfilling">
        <div class="col-sm-12">
          <div class="card w-100">
            <div class="card-header">
              <span class="fs-18">{{rfilling.FilingName}}</span><span
                class="text-primary fs-14 pointer float-right">View</span>
              <div class="col-sm-12 p-0 mt-0">
                <ul class="ml-0">
                  <li class="ml-0">
                    <span class="text-muted">Filing Type</span>
                    <p class="fs-14">{{rfilling.FilingType}}</p>
                  </li>
                  <li>
                    <span class="text-muted">Updated On</span>
                    <p class="fs-14">{{rfilling.UpdatedOn}}</p>
                  </li>
                  <li>
                    <span class="text-muted">Status</span>
                    <p class="fs-14">{{rfilling.Status}}</p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal-footer bg-model-footer" *ngIf="relatedfilling.length!=0">
    <button type="button" class="btn btn-outline" (click)="relatedFilingsclose('close click')">OK</button>
  </div>
  <div *ngIf="relatedfilling.length==0">
    <span class="pull-right mr-20 pb-10 fs-18" (click)="relatedFilingsclose('close click')">OK</span>
  </div>
</ng-template>


<ng-template #deleteshipmentPopUp let-d="dismiss" id="deleteshipmentPopUp">
  <div class="lo-modal--header p-20">
    <span class="modal-close close" ngbAutofocus (click)="closeModal('close click')">
      <i class="fa fa-times" aria-hidden="true"></i>
    </span>
  </div>
  <div class="lo-modal-body p-30 pb-50 text-cener mx-auto">
    <i class="fa fa-trash-alt fa-3x mx-auto d-table" aria-hidden="true"></i>
    <p class="fs-20 mt-15"> Are you sure you want to archive message?</p>
    <div class="taskGroupArchiveTitle">
      <div class="btn btn-outline fs-12 mt-10" (click)="closeModal()">No, keep it</div>
      <div class="btn btn-danger ml-20 mt-10 fs-12" (click)="DeleteShipment()">Yes, Confirm</div>
    </div>
  </div>
</ng-template>
<ng-template #FilingStatusCompleted let-d="dismiss" id="FilingStatusCompleted">
  <div class="lo-modal--header p-20">
    <span class="modal-close close" ngbAutofocus (click)="closeModal('close click')">
      <i class="fa fa-times" aria-hidden="true"></i>
    </span>
  </div>
  <div class="lo-modal-body p-30 pb-50 text-cener mx-auto">
    <i class="fas fa-exclamation-triangle fa-3x mx-auto d-table" aria-hidden="true"></i>
    <p class="fs-20 mt-15"> Are you sure you want completed the filing status?</p>
    <div class="taskGroupArchiveTitle">
      <div class="btn btn-outline fs-12 mt-10" (click)="closeModalfilingStatus(viewRef)">No, keep it</div>
      <div class="btn btn-danger ml-20 mt-10 fs-12" (click)="filingSubmit()">Yes, Confirm</div>
    </div>
  </div>
</ng-template>

<!-- *********** Assign Aapplicant state ******************* -->

<div class="row mt-100" *ngIf="filingName=='InComplete' && IsClientInitiated">
  <div class="col-sm-4 mx-auto">
    <div class="text-center">
      <i class="fas fa-user-plus fs-100 addusericon"></i>
      <p class="fs-18 mt-20">Approve Filing</p>
      <p class="fs-14"> Approve the filing from the applicant.</p>
    </div>
    <table class="invitedapplicants mt-20">
      <tr class="firsttr">
        <th class="p-5"> Email</th>
        <th class="float-right p-5"> Full Name</th>
      </tr>
      <tr>
        <td class="p-5 normalTextFormat">{{applicantdetails.Email}}</td>
        <td class="float-right p-5">{{applicantdetails.FirstName}} {{applicantdetails.LastName}}
        </td>
      </tr>
      <tr>
        <label>Select Templates<i class="required">*</i></label>
        <select class="form-control" id="sel1" (change)="selectTemplateType($event)" [(ngModel)]="selectedTemplate">
          <option [value]="item.DisplayTemplateTitle" *ngFor="let item of templateList">{{item.DisplayTemplateTitle}}
          </option>
        </select>
      </tr>
    </table>
    <div class="text-center fs-12 mt-30">
      <button class="btn btn-primary px-20 py-4" (click)="approveModel(approve)">Approve</button>
      <button class="btn btn-outline px-20 ml-20 py-4" routerLink="/admin/fillings"> Cancel</button>
    </div>
  </div>
</div>


<div class="row mt-100" *ngIf="filingName=='InComplete' && !IsClientInitiated">
  <div class="col-sm-4 mx-auto">
    <div class="text-center">
      <!-- <i class="fas fa-user-plus fs-100 addusericon"></i> -->
      <p class="fs-18 mt-20"></p>
      <p class="fs-14"> Please wait for the Client approval.</p>
    </div>
  </div>
</div>

<!-- approve Modal -->
<ng-template #approve let-d="dismiss" id="approveModel">
  <div class="gl-modal-header p-20 bg-white text-white text-align">
    <span class="modal-close close" ngbAutofocus (click)="closeModal()">
      <i class="fa fa-times" aria-hidden="true"></i>
    </span>
  </div>
  <div class="lo-modal-body pt-20 pb-20 px-10 text-center">
    <i class="fa fa-address-book fs-70 color-orange pb-30" aria-hidden="true"></i>
    <p class="fs-20">Add Applicants To Your Connections</p>
    <p class="fs-14">Applicant should be member of your organization connections</p>
  </div>
  <div class="text-center pb-50">
    <button type="button" class="btn btn-primary" (click)="approveFiling()">Approve Filing</button>
    <button type="button" class="btn btn-outline ml-20 px-20 " (click)="closeModal()">Cancel</button>
  </div>
</ng-template>
<!-- end -->

<ng-template #prevButton>
  <button class="btn btn-warning btn-sm">Previous</button>
</ng-template>
<ng-template #nextButton>
  <button class="btn btn-primary btn-sm">Next</button>
</ng-template>
<ng-template #doneButton>
  <button class="btn btn-danger btn-sm">Done</button>
</ng-template>
<ng-template #customContent>
  <div class="card" style="width:400px">
    <img class="card-img-top" src="../../../../../../assets/icons/add-note.svg" class="sample text-center" alt="sample">
    <div class="card-body">
      <h4 class="card-title">John Doe</h4>
      <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
    </div>
  </div>
</ng-template>