<div class="travel__spouse">
    <div class="d__flex_between travel__spouse__div" *ngIf="travelDocumentDetails">
        <div>
            <div> Travel Document </div>
        </div>
        <button class="blue__button cursor__pointer" (click)="openSpouseDetails(travelModel)"> Add Details
        </button>
    </div>
    <div *ngIf="!travelDocumentDetails" class="card__data">
        <div class="d-flex justify-content-between align-items-center pl-10">
            <strong> Travel Document </strong>
            <div>
                <button class="cursor__pointer button__class bg-danger" (click)="deleteCard(travelDocumentDetails)">
                    Delete
                </button>
                <button class="cursor__pointer button__class" (click)="openSpouseDetails(travelModel)">
                    Change
                </button>
            </div>
        </div>
        <app-travel-document-details-popup [data]="finalObj()" [isCard]="true" (cardMode)="openSpouseDetails(travelModel)">
        </app-travel-document-details-popup>
        <div class="p-20">
            <input hidden type="file" accept="image/*" #file1
                (change)="uploadFile($event.target.files)">
            <a class="cursor__pointer" (click)="file1.click()" > <span class="text-info"> Attach travel record  </span></a>

            <div *ngFor="let file of travelList">
                {{ file }}
                <button type="button" class="btn btn-outline-light text-dark btn-sm ml-10"><i
                        class="fa fa-trash text-secondary"
                        (click)="deletePopup(deleteFile, file)"></i></button>
            </div>
        </div>
    </div>
    
</div>

<ng-template #travelModel let-d="dismiss" id="travelModel">
    <app-travel-document-details-popup
        [data]="finalObj()"
        (emitCloseModel)="closeModel($event, 'travelDocumentDetails')">
    </app-travel-document-details-popup>
</ng-template>


<ng-template #deleteFile let-d="dismiss" id="deleteFile">
    <div class="lo-modal--header p-20">
      <span class="modal-close close" (click)="closeModal()">
        <i class="fa fa-times" aria-hidden="true"></i>
      </span>
    </div>
    <div class="lo-modal-body p-30 pb-50 text-center">
      <i class="fa fa-trash-alt fa-3x" aria-hidden="true"></i>
      <p class="taskGroupArchiveTitle">Are you sure you want delete this Period of stay info we will also deleted along
        with
        the files if any?
      </p>
      <div class="text-align">
        <div class="btn btn-outline fs-12 mt-10" (click)="closeModal()">No, keep it</div>
        <div class="btn btn-danger ml-20 mt-10 fs-12" (click)="deleteFiles(selectDeleteFile)">Yes, Confirm
        </div>
      </div>
    </div>
  </ng-template>