<div class="row">
  <div class="container mt-80 pb-30 text-center">
    <div class="col-md-6 mx-auto">
      <div class="card">
        <div class="card-body px-20 py-50">
            <img src="../../../../assets/invite-sent-graphic.svg" class="img-responsive" /><br />
            <h2 class="fs-20 mt-25 text-center">Your Email Successfully verified!</h2>
            <!-- <button class="btn btn-primary px-20 mt-30" [routerLink]="['/login']" routerLinkActive="router-link-active" >Click here to login</button> -->
            <p class="fs-16 text-center mt-30">Click here to <span class="text-primary pointer" (click)="login()" >Sign In</span></p>
        </div>
      </div>
    </div>
  </div>
</div>
