<app-file-upload [label]="'latest resume'" [list]="resume" [name]="'resume'" [single]="true" [fileExtension]="resumeExn" [parent]="'Employement Support Documents'"
  [applicantKey]='applicantKey'></app-file-upload>
<app-file-upload [label]="'Recent W2 s'" [list]="recentW2" [name]="'recentW2'" [single]="false" [parent]="'Employement Support Documents'"
  [applicantKey]='applicantKey'></app-file-upload>
<app-file-upload [label]="'3 Recent Pay-Stubs'" [list]="recentPayStubs" [name]="'recentPayStubs'" [single]="false" [parent]="'Employement Support Documents'"
  [applicantKey]='applicantKey'></app-file-upload>
<app-file-upload [label]="'EAD Cards'" [list]="eadCards" [name]="'eadCards'" [single]="true" [parent]="'Employement Support Documents'"
  [applicantKey]='applicantKey'></app-file-upload>
