.blue__button {
  background: #54698d;
  height: 30px;
  width: 115px;
  border-radius: 5px;
}

.emp__support {
  & .emp__support__div {
    border: 1px solid #80808063;
    padding: 15px 20px;
    border-radius: 6px;
    margin-bottom: 2%;
    & button {
      margin-left: 3%;
      color: #ffffffb8;
    }
  }
  & .emp__support__add {
    color: blue;
    padding: 2%;
  }
}

.card-bodyCustom {
  flex: 1 1 auto;
  padding: 0.5rem;
}
.btn-file {
  position: relative;
  overflow: hidden;
}
.card-body {
  padding: 1rem !important;
}
