<div class="row">
  <div class="col-sm-12">
    <div class="card mt-10">
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <p class="text-primary fs-16">beneficiary's tasks</p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-9">
            <ul>
              <li>
                <span class="text-muted fs-12">Tasks Completed</span><br />
                <small>2 of 3</small>
              </li>
              <li>
                <span class="text-muted fs-12">Sub-tasks</span><br />
                <small>0</small>
              </li>
              <li>
                <span class="text-muted fs-12">Over Due</span><br />
                <small class="text-danger">1</small>
              </li>
              <li>
                <span class="text-muted fs-12">Next task due by</span><br />
                Apr 10, 2020
              </li>
              <li>
                <span class="text-muted fs-12">Created By</span><br />
                <small class="normalTextFormat">Srinivas kandula</small>
              </li>
            </ul>
          </div>
          <div class="col-sm-3">
            <button class="btn btn-outline-primary">
              View Tasks
            </button>
            <button class="btn btn-outline ml-3"><i class="fa fa-trash fs-12 text-danger"></i>&nbsp;
              <span class="text-danger">Archive</span></button>&nbsp;
          </div>
        </div>
      </div>
    </div>
  </div>
</div>