.uname {
  display: inline-block;
  font-size: 1em;
  width: 45px !important;
  height: 45px !important;
  line-height: 2.5em;
  text-align: center;
  border-radius: 50%;
  vertical-align: middle;
  // margin-right: 1em;
  color: white;
  margin-top: 1px !important;
  padding-top: 7px !important;
}
.mb-15 {
  margin-bottom: 15px;
}
.normalTextFormat {
  font-size: 14.4px;
}
