<div class="row">
  <div class="col-sm-6">
    <p class="fs16">Connection Members</p>
  </div>
  <!-- <div class="col-sm-6" *ngIf="adminTeamMembersListData.length > 0">
    <div class="float-right">
      <button  class="btn btn-outline fs-12" [disabled]="adminTeamMembersListData.length==0" (click)="editClientMember()">Edit</button>
      <button  class="btn btn-outline ml-10 fs-12">Add New Connection</button>
    </div>
  </div> -->
</div>
<div class="row border-bottom" *ngIf="adminTeamMembersListData.length > 0">
  <ng-container *ngFor='let admin of adminTeamMembersListData;index as i'>
    <div class="col-sm-11 mb-15">
      <div class="row">
        <div class="col-md-1 text-right">
          <!-- <img src="../../../assets/applicant1.png" alt="" class="lo-profile--image extrasmall float-right"> -->
          <span class="uname"
            [style.background-color]="Subcolors[i]">{{getShortName(admin.UserName) | uppercase}}</span>
        </div>
        <div class="col-md-8">
          <span><b class="normalTextFormat">{{admin.UserName}}</b></span>
           <p class="mb-5" *ngIf="admin.TeamMemberStatus=='1'"> Primary Admin</p>
           <p class="mb-5" *ngIf="admin.TeamMemId=='0'"> Primary Admin</p>
          <p class="mb-5" *ngIf="admin.TeamMemberStatus=='2'"> Sub Admin</p>
          <p class="mb-5" *ngIf="admin.TeamMemberStatus=='3'"> Team Member</p>
          <p class="mb-5" *ngIf="admin.TeamMemberStatus=='4'"> Applicant</p>
        </div>
        <div class="col-md-3" *ngIf="editClient">
          <i class="fa fa-minus float-right pointer icon-minus ml-30" aria-hidden="true"
            (click)="Modeldelete(contant)"></i>
        </div>
      </div>
      <div class="row">
        <div class="col-md-1 col-sm-1"></div>
        <div class="col-md-11 col-sm-12">
          <div class="row">
            <div class="col-md-2 col-sm-2">
              <div class="mb-2">
              <span class="text-muted fs-12 pl-0">Mobile Number</span>
              <br>
              <small class="fs-14">{{admin.Mobile}}</small>
            </div>
          </div>
            <!-- <div class="col-md-3 col-sm-3 col-lg-3">
              <span class="text-muted fs-12">Mobile Number</span>
              <br>
              <small class="fs-14">(949)-208-6930</small>
            </div> -->
            <div class="col-md-6 col-sm-7 mb-2">
              <span class="text-muted fs-12">Primary Email</span>
              <br>
              <small class="fs-14 normalTextFormat">{{admin.Email}}</small>
            </div>
            <!-- <div class="col-md-3 col-sm-3 col-lg-3">
              <span class="text-muted fs-12">Secondary Email</span>
              <br>
              <small class="fs-14">name@gmail.com</small>
            </div> -->
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-1"></div>
  </ng-container>
  <!-- <div class="row">
    <p class="fs-16 text-primary pointer mt-10 ml-20">View More</p>
  </div> -->
</div>
<div class="row border-bottom" *ngIf="adminTeamMembersListData.length == 0">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-md-3 mx-auto text-align">
        <img src="../../../../../../assets/adminmembersempty.png" style="height: 150px">
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 mx-auto text-align">
        <p class="fs-27"> Looks like there are no connection members</p>
        <!-- <p classs="fs-16">Lorem ipsium lorem some relevant text goes here to help user understand what they can do to search and sort for better
          results</p> -->
      </div>
    </div>
  </div>
</div>
<div class="row mt-20">
  <div class="col-sm-6">
    <p class="fs16">My Team Members</p>
  </div>
  <div class="col-sm-6">
    <div class="float-right">
      <button class="btn btn-outline fs-12" [disabled]="clientMembersList.length==0"
        *ngIf="(isAuthorize) && (loadSubAdminPermissions ?loadSubAdminPermissions?.CanDeleteTeamMembers:true)"
        (click)="editTeamMembers()">{{editTeam? "Save": "Edit"}}</button>
      <button class="btn btn-outline ml-2 fs-12"
        *ngIf="(isAuthorize) && (loadSubAdminPermissions ?loadSubAdminPermissions?.CanInviteTeamMembers:true)"
        (click)="teaMembersListPopup(teamlist)">Add New Team Member</button>
    </div>
  </div>
</div>

<div class="row" *ngIf="clientMembersList.length>0">
  <ng-container *ngFor='let team of clientMembersList;index as i'>
    <div class="col-lg-11 col-md-12 mb-15">
      <div class="row"> 
        <div class="col-md-1 text-right">
          <!-- <img src="../../../assets/applicant1.png" alt="" class="lo-profile--image extrasmall float-right"> -->
          <span class="uname" [style.background-color]="colors[i]">{{getShortName(team.UserName) | uppercase}}</span>
        </div>
        <div class="col-md-4">
          <span><b class="normalTextFormat">{{team.UserName}}</b></span>
          <p class="mb-5" *ngIf="team.TeamMemberStatus=='1'"> Primary Admin</p>
          <p class="mb-5" *ngIf="team.TeamMemberStatus=='0'"> Primary Client</p>
          <p class="mb-5" *ngIf="team.TeamMemberStatus=='2'"> Sub Admin</p>
          <p class="mb-5" *ngIf="team.TeamMemberStatus=='3'"> Team Member</p>
          <p class="mb-5" *ngIf="team.TeamMemberStatus=='4'"> Applicant</p>
          <!-- <p class="mb-5">{{team.JobCardTitle}}</p> -->
        </div>
      </div>
      <div class="row">
        <div class="col-md-1 col-sm-1"></div>
        <div class="col-md-11 col-sm-11">
          <div class="row">
            <div class="col-md-2">
              <span class="text-muted fs-12">Mobile Number</span>
              <br>
              <small class="fs-14">{{team.Mobile}}</small>
            </div>
            <!-- <div class="col-md-3 col-sm-3 col-lg-3">
              <span class="text-muted fs-12">Mobile Number</span>
              <br>
              <small class="fs-14">(949)-208-6930</small>
            </div> -->
            <div class="col-md-4">
              <span class="text-muted fs-12">Primary Email</span>
              <br>
              <small class="fs-14 normalTextFormat">{{team.Email}}</small>
            </div>
            <!-- <div class="col-md-3 col-sm-3 col-lg-3">
              <span class="text-muted fs-12">Secondary Email</span>
              <br>
              <small class="fs-14">name@gmail.com</small>
            </div> -->
            <div class="col-md-1" *ngIf="editTeam">
          <i class="fa fa-minus float-right pointer icon-minus ml-30" *ngIf="team.TeamMemberStatus != 4 && team.Email!=commonService.loggedUserEmail" (click)="deleteTeamMember(teammemberdelete, team)"
            aria-hidden="true"></i>
        </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>

<div class="row" *ngIf="clientMembersList.length==0">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-md-3 mx-auto text-align">
        <img src="../../../../../../assets/clientmembersempty.png" style="height: 150px">
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 mx-auto text-align">
        <p class="fs-27 "> Looks like there are no Team members</p>
        <!-- <p classs="fs-16">Lorem ipsium lorem some relevant text goes here to help user understand what they can do to search and sort for better
          results</p> -->
      </div>
    </div>
  </div>
</div>

<ng-template #teamlist let-d="dismiss" id="teamlist">
  <div class="gl-modal-header p-20 bg-model text-white text-align">
    <span class="fs-16 mb-0 d-ib">View Office Members</span>
    <span class="modal-close close" ngbAutofocus (click)="closeTeamMembers('close click')">
      <i class="fa fa-times text-white" aria-hidden="true"></i>
    </span>
  </div>
  <div class="lo-modal-body p-20">
    <div class="row">
      <div class="col-sm-6 fs-14">
        Members List
      </div>
      <!-- <div class="col-sm-6 fs-14 text-primary pointer">
        <div class="float-right" (click)="teamInvite(team)">
          <i class="fa fa-plus pointer text-primary fs-14"></i> Invite Team Members
        </div>
      </div> -->
      <div class="col-sm-6 fs-14 text-primary pointer">
        <div class="float-right" (click)="teamInvite(team)"  *ngIf="(isAuthorize) && (loadSubAdminPermissions ?loadSubAdminPermissions?.CanInviteTeamMembers:true)">
          <i class="fa fa-plus pointer text-primary fs-14"></i> Invite Team Members
        </div>
      </div>
    </div>
    <ng-container *ngIf="selectedTeamMembers.length>0">
      <div class="row border-bottom pb-10 pt-10" *ngFor='let team of selectedTeamMembers'>
        <div class="col-sm-1">
          <span class="lo-profile--image extrasmall">
            <img src="" alt="">
          </span>
        </div>
        <div class="col-sm-9 fs-13 ml-20">
          <span><b class="normalTextFormat">{{team.UserName}}</b></span><br>
           <p class="mb-5" *ngIf="team.TeamMemberStatus=='1'"> Primary Admin</p>
          <p class="mb-5" *ngIf="team.TeamMemberStatus=='2'"> Sub Admin</p>
          <p class="mb-5" *ngIf="team.TeamMemberStatus=='3'"> Team Member</p>
          <p class="mb-5" *ngIf="team.TeamMemberStatus=='4'"> Applicant</p>
        </div>
       
        <div class="col-sm-1">
          <i class="fa fa-plus plusicon pointer" (click)="addBlockToFilingAdminTeam(team,1)"></i>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="selectedTeamMembers.length==0">
      <div class="alert alert-secondary">
        <strong>No Team Members Found!</strong>
      </div>
    </ng-container>

    <ng-container *ngIf="blockedTeamMembersList.length>0">
      <div class="col-sm-6 fs-14">
        Blocked Members List
      </div>
      <div class="row border-bottom pb-10 pt-10" *ngFor='let team of blockedTeamMembersList'>
        <div class="col-sm-1">
          <span class="lo-profile--image extrasmall">
            <img src="" alt="">
          </span>
        </div>
        <div class="col-sm-9 fs-13 ml-20">
          <span>
            <b>{{team.UserName| uppercase}}</b>
          </span><br/>
          <p class="fs-14" *ngIf="team.TeamMemberStatus==1"> Primay Admin</p>
          <p class="fs-14" *ngIf="team.TeamMemberStatus==2"> Sub Admin</p>
          <p class="fs-14" *ngIf="team.TeamMemberStatus==3">Team Member</p>

        </div>
        <div class="col-sm-1">
          <i class="fas fa-unlock-alt pointer" (click)="addBlockToFilingAdminTeam(team,2)"></i>
        </div>
      </div>
    </ng-container>

  </div>
  <div class="modal-footer bg-model-footer">
    <button type="button" class="btn btn-outline" (click)="closeTeamMembers('close click')">Cancel</button>
  </div>

</ng-template>

<ng-template #team let-d="dismiss" id="team">
  <team-individual-invite [tittle]="'Invite New Individual Team Member'" [isSubAdminAcess]="isSubAdminAcess"
    (emitConfirmation)="confirmationSuccessPopup($event,confirmationsucess)"
    (emitCloseModel)="closeTeamInvite($event,teamsucess)"></team-individual-invite>
</ng-template>

<!-- successpopup-->
<ng-template #confirmationsucess let-d="dismiss" id="confirmationsucess">
  <confirmation-notification [confirmData]="confirmData" (emitCloseModel)="closeConfirmSuccess($event)">
  </confirmation-notification>
</ng-template>




<ng-template #teammemberdelete let-d="dismiss" id="teammemberdelete">
  <div class="lo-modal--header p-20">
    <span class="modal-close close" ngbAutofocus (click)="closedeleteTeamMember('close click')">
      <i class="fa fa-times" aria-hidden="true"></i>
    </span>
  </div>
  <div class="lo-modal-body p-30 pb-50 text-cener mx-auto">
    <i class="fa fa-user-plus fa-3x ml-190 text-danger text-center" aria-hidden="true"></i>
    <p class="fs-20 mt-15"> Are you sure you want to remove the member?</p>
    <div class="text-align">
      <button class="btn btn-outline fs-12 mt-10" (click)="closedeleteTeamMember('close click')">Cancel</button>
      <button class="btn btn-danger ml-20 mt-10 fs-12" (click)="addBlockToFilingAdminTeam(null,0)">Yes, Confirm</button>
    </div>
  </div>
</ng-template>