<div class="card" *ngIf="childDetails">
    <div class="card-body">
        <h5>Child</h5>
        <button class="float-right mt--15 btn btn-outline-primary btn-sm" (click)="addChildDetails(addChildModalId)">Add details</button>
        <p class="card-text">Information about your child.</p>
    </div>
</div>

<ng-template #addChildModalId let-d="dismiss" id="addChildModalId">
    <div class="gl-modal-header p-20 bg-model text-white text-align">
      <span class="fs-16 mb-0 d-ib">Child details</span>
      <span class="modal-close close" (click)="close()">
        <i class="fa fa-times text-white" aria-hidden="true"></i>
      </span>
    </div>
    <div class="lo-modal-body p-20">
      <h5>Child's Name,Gender and DOB</h5>
      <div class="row">
        <div class="col-lg-4 form-group">
          <label>First name(Given name)</label>
          <input type="text" class="form-control" />
        </div>
        <div class="col-lg-4 form-group">
          <label>Middle Name</label>
          <input type="text" class="form-control" />
        </div>
        <div class="col-lg-4 form-group">
          <label>Last name(Family name)</label>
          <input type="text" class="form-control" />
        </div>
      </div>
  
      <div class="row">
        <div class="col-lg-4 form-group">
          <label>Child's Gender</label><br />
          <div class="custom-control custom-checkbox custom-control-inline mb-3">
            <input type="checkbox" class="custom-control-input" id="" name="singleselect" />
            <label class="custom-control-label pt-4" for="">Male</label>
          </div>
          <div class="custom-control custom-checkbox custom-control-inline mb-3">
            <input type="checkbox" class="custom-control-input" id="" name="singleselect" />
            <label class="custom-control-label pt-4" for="">Female</label>
          </div>
        </div>
        <div class="col-lg-4 form-group">
            <label>Child's Date of Birth</label>
            <input type="date" class="form-control" />
          </div>
      </div>
      <h5>Child's Place of Birth</h5>
      <div class="row">
        <div class="col-lg-4 form-group">
          <label for="sel1">Country</label>
          <select class="form-control" id="sel1">
            <option>Usa</option>
            <option>India</option>
          </select>
        </div>
        <div class="col-lg-4 form-group">
          <label for="sel1">State/province</label>
          <select class="form-control" id="sel1">
            <option>Ohio</option>
          </select>
        </div>
        <div class="col-lg-4 form-group">
          <label>City or town</label>
          <input type="text" class="form-control" />
        </div>
      </div>
      <h5>Other Details</h5>
      <div class="row">
        <div class="col-lg-4 form-group">
          <label>USCIS Online Account Number(if any)</label>
          <select class="form-control" id="sel1">
            <option>Select any option</option>
          </select>
        </div>
        <div class="col-lg-4 form-group">
            <label>A-Number(if any)</label>
            <input type="text" class="form-control" />
          </div>
      </div>
    </div>
    <div class="modal-footer bg-model-footer">
      <button type="button" class="btn btn-primary">Save</button>
      <button type="button" class="btn btn-outline"  (click)="close()">Cancel</button>
    </div>
  </ng-template>