<div class="row mt-50">
    <div class="container-fluid pr-34">
        <div class="float-right pt-30 pb-10">
            <div class="btn btn-primary fs-12" *ngIf="((isTeamMemberAuthorize) && (loadSubAdminPermissions ?loadSubAdminPermissions?.CanInviteClients:true))" (click)="inviteClientMembers(0)">Invite client members</div>&nbsp;
            <div class="btn btn-import ml-20 fs-12" *ngIf="((isTeamMemberAuthorize) && (loadSubAdminPermissions ?loadSubAdminPermissions?.CanInviteClients:true))" (click)="inviteClientMembers(1)">Import client members</div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="col-sm-12">
            <div class="card mb-20">
                <div class="card-body">
                    <ngb-tabset class="navtabs-modified"  #t="ngbTabset"  [activeId]="activeid">
                        <ngb-tab title="All Clients"  id="connectionMembersTab">
                            <ng-template ngbTabContent>
                                <ng-container *ngIf="adminClientsListData.length>0">
                                    <div class="row px-20 py-15">
                                        <input type="text" class="form-control lo-input br-100 fs-13" [(ngModel)]="searchFilter"
                                            placeholder="Search by name , email or phone number">
                                    </div>
                                    <ng-container *ngFor='let client of adminClientsListData | filter: searchFilter| paginate: { itemsPerPage: 7, currentPage: p };let rowcount = index;let isLast=last ;let isFirst=first'>
                                        <div class="row bt-line pt-15">
                                            <div class="col-sm-1 wd">
                                                    <!-- <img src="" alt="" class="lo-profile--image xsmall"> -->
                                                    <span class="uname" [style.background-color]="colors[rowcount]" >{{getShortName(client.UserName) | uppercase}}</span> 
                                            </div>
                                            <div class="col-sm-8 tab col-xs-5 fs-13 lh-6">
                                                <p class="client-name">
                                                    {{client.UserName | uppercase}}
                                                </p>
                                                <p class="fs-12" *ngIf="client.SetType==1">Bussiness Client</p>
                                                <p class="fs-12" *ngIf="client.SetType==2">Applicant</p>
                                                <p class="fs-12" *ngIf="client.SetType==3">Sponsor</p>
                                                <p>
                                                    <i class="fa fa-phone fs-13 fa-rotate-90" aria-hidden="true"></i>
                                                    {{client.Mobile}}</p>
                                                <p class="normalTextFormat">
                                                    <i class="fa fa-envelope fs-13" aria-hidden="true"></i> {{client.Email}}</p>
                                            </div>
                                            <div class="col-sm-3 tab p-0">
                                                <div class="float-right mt-50">
                                                    <!-- <div class="btn btn-outline px-20 fs-12" *ngIf="((isTeamMemberAuthorize) && (loadSubAdminPermissions ?loadSubAdminPermissions?.CanViewProfileOfClients:true))">View profile</div>&nbsp; -->
                                                    <!-- <div class="btn btn-outline-danger px-20 fs-12"  *ngIf="((isTeamMemberAuthorize) && (loadSubAdminPermissions ?loadSubAdminPermissions?.CanDeleteClients:true))" (click)="deleteClientMemeber(clientdeletepop,client)">Delete Member</div> -->
                                                    <div class="btn btn-outline-primary px-15 fs-12"  *ngIf="((isTeamMemberAuthorize) && (loadSubAdminPermissions ?loadSubAdminPermissions?.CanDeleteClients:true) && client.Status==false)" (click)="activeClient(client.ClientId)">Active Member</div>
                                                    <div class="btn btn-outline-danger px-15 fs-12"  *ngIf="((isTeamMemberAuthorize) && (loadSubAdminPermissions ?loadSubAdminPermissions?.CanDeleteClients:true) && client.Status==true)" (click)="inactiveClientMemeber(clientdeletepop,client)">
                                                      Inactive Member
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div *ngIf="isLast" class="mb-30">showing {{ rowcount+1 }} of {{
                                            adminClientsListData.length }}</div>

                                    </ng-container>
                                    <div class="lo-table--pagination text-muted" *ngIf="adminClientsListData.length > 7">
                                      <div class="data">
                                          <div class="pull-right text-right">
                                              <pagination-controls (pageChange)="p = $event"> </pagination-controls>
                                          </div>
                                      </div>
                                  </div>
                                </ng-container>


                                    <!--***************** empty state start********************* -->
                                    <div *ngIf="adminClientsListData.length==0" class="py-30">
                                    <div class="row">
                                        <div class="col-md-3 mx-auto text-align">
                                            <img src="../../../../../../assets/inbox.png">
                                        </div>
                                    </div>
                                    <div class="row mt-20">
                                        <div class="col-md-6 mx-auto text-align">
                                            <p class="fs-28"> Looks like there are no Client Members</p>
                                            <p classs="fs-16">
                                                <!-- Lorem ipsium lorem some relevant text goes here to
                                                help user understand what they can do to
                                                search and sort for better results -->
                                            </p>
                                            <!-- <div class="btn btn-primary fs-12 px-30" *ngIf="((isTeamMemberAuthorize) && (loadSubAdminPermissions ?loadSubAdminPermissions?.CanInviteClients:true))" (click)="inviteClientMembers(0)">Invite
                                                client members</div>&nbsp; -->
                                        </div>
                                    </div>
                                </div>
                                    <!--***************** empty state end********************* -->


                            </ng-template>
                        </ngb-tab>
                        <ngb-tab title="Invited By Me" *ngIf="((isTeamMemberAuthorize) && (loadSubAdminPermissions ?loadSubAdminPermissions?.CanInviteClients:true))"  id="pendingConectionTab">necti
                            <ng-template ngbTabContent>
                                <div class="row px-20 pt-15 pb-5" *ngIf="adminClientInvitedList.length != '0'">
                                    <input type="text" class="form-control lo-input br-100 fs-13" placeholder="Search by name , organization, email or phone number"
                                        [(ngModel)]="term">
                                </div>
                                <div class="row bt-line py-10" *ngFor="let client of adminClientInvitedList| filter:term | paginate: { itemsPerPage: 7, currentPage: p };let rowcount = index;">
                                    <div class="col-sm-1 wd col-xs-4">
                                            <!-- <img src="" alt="" class="lo-profile--image xsmall"> -->
                                            <span class="uname" [style.background-color]="Subcolors[rowcount]" >{{getShortName(client.FullName) | uppercase}}</span> 
                                        </div>
                                    <div class="col-sm-8 tab col-xs-6 fs-13 lh-6">
                                        <p class="client-name"><b>{{client.FullName  | uppercase}} </b></p>
                                        <p class="fs-12" *ngIf="client.SetType==1">Bussiness Client</p>
                                        <p class="fs-12" *ngIf="client.SetType==2">Applicant</p>
                                        <p class="fs-12" *ngIf="client.SetType==3">Sponsor</p>
                                        <p class="fs-12 lh-6 normalTextFormat">{{client.EmailId}}</p>
                                        <p class="fs-12 lh-6">Invite Sent On {{client.InvitedOn | date: 'MM-dd-yyyy'}}</p>
                                    </div>

                                    <div class="col-sm-3 tab col-xs-12 p-0">
                                        <div class="float-right mt-20">
                                            <div class="btn btn-outline fs-12 px-20" (click)="resendDelete(1,sent,client)">Resend
                                                Invite</div>&nbsp;
                                                <div class="btn btn-outline-danger fs-12 px-20" (click)="deleteModel(contant,client)">Cancel
                                                     Invite</div>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <p class="mt-20">Showing 1-7 of {{adminClientInvitedList.length}} results</p>
                                </div>

                                    <!--***************** empty state start********************* -->
                                    <div *ngIf="adminClientInvitedList.length == '0'" class="py-30">
                                        <div class="col-md-3 mx-auto text-align">
                                                <img src="../../../../../../assets/inbox.png" alt="">
                                            </div>
                                    <div class="row mt-20">
                                        <div class="col-md-6 mx-auto text-align">
                                            <p class="fs-28"> Looks like there are no Client Members</p>
                                            <p classs="fs-16">
                                                client-applicant-sponsor-signin lorem some relevant text goes here to
                                                help user understand what they can do to
                                                search and sort for better results
                                            </p>
                                            <!-- <div class="btn btn-primary fs-12 px-30" *ngIf="((isTeamMemberAuthorize) && (loadSubAdminPermissions ?loadSubAdminPermissions?.CanInviteClients:true))" (click)="inviteClientMembers(0)">Invite
                                                client members</div> -->
                                        </div>
                                    </div>
                                </div>
                                    <!--***************** empty state end********************* -->
                                <div class="lo-table--pagination text-muted" *ngIf="adminClientInvitedList.length > 7">
                                    <div class="data">
                                        <div class="pull-right text-right">
                                            <pagination-controls (pageChange)="p = $event"> </pagination-controls>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab title="Invites For Me" *ngIf="(isTeamMemberAuthorize && isSubAdminAcess )" id="pendingRequestTab">necti
                            <ng-template ngbTabContent>
                                <div class="row p-20" *ngIf="adminInvitedForMelist.length != '0'">
                                    <input type="text" class="form-control lo-input br-100 fs-13"
                                        placeholder="Search by name , organization, email or phone number"
                                        [(ngModel)]="term">
                                    <p class="mt-20">Showing {{adminInvitedForMelist.length}} results</p>
                                </div>
                                <div class="row bt-line mt-10"
                                    *ngFor="let client of adminInvitedForMelist| filter:term | paginate: { itemsPerPage: 7, currentPage: p };let rowcount = index;">
                                    <div class="ml-20">
                                        <!-- <img src="../../../assets/applicant.png" class="lo-profile--image extrasmall"> -->
                                        <span class="uname"
                                            [style.background-color]="colors[rowcount]">{{getShortName(client.UserName) | uppercase}}</span>
                                    </div>
                                    <div class="col-sm-7 fs-13">
                                        <p class="mb-7">
                                            <b>{{client.UserName}} </b>
                                        </p>
                                        <p class="mb-7">
                                            <i class="fa fa-phone fs-13 fa-rotate-90" aria-hidden="true"></i>
                                            &nbsp;&nbsp;{{client.Mobile}}</p>
                                        
                                        <p class="fs-12 normalTextFormat"> <i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;&nbsp; {{client.Email}}</p>
                                    </div>
                                    
                                    <div class="col-sm-4">
                                        <div class="float-right">
                                            <div class="btn btn-outline fs-12 px-20"
                                                (click)="acceptInvite(true,client)">Accept Invite
                                            </div>
                                            <div class="btn btn-outline fs-12 px-20 ml-5"
                                            (click)="viewProfie()">View Profile
                                        </div>
                                            <div class="btn btn-outline-danger fs-12 px-20 ml-5"
                                                (click)="declineInvites(declineInvite,client)">Decline Invite
                                            </div>&nbsp;
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="adminInvitedForMelist.length == '0'">
                                    <div class="row  py-30 text-center">
                                        <div class="col-sm-12 ">
                                            <img src="../../../../../../assets/inbox.png">
                                            <p class="fs-28 pt-20"> Looks like there are no Connection Members</p>
                                            <p classs="fs-16">
                                                <!-- Lorem ipsium lorem some relevant text goes here to
                                                help user understand what they can do to
                                                search and sort for better results -->
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="lo-table--pagination text-muted" *ngIf="clientInvitedList.length > '7'">
                                    <div class="data">
                                        <div class="pull-right text-right">
                                            <pagination-controls (pageChange)="p = $event"> </pagination-controls>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </ngb-tab>
                    </ngb-tabset>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #contant let-d="dismiss" id="deleteModel">
    <div class="lo-modal--header p-20">
        <span class="modal-close close" ngbAutofocus (click)="Close('close click')">
            <i class="fa fa-times" aria-hidden="true"></i>
        </span>
    </div>
    <div class="lo-modal-body p-30 pb-50 text-center mx-auto">
        <i class="fa fa-trash fa-3x" aria-hidden="true"></i>
        <p class="fs-20 mt-15"> Are you sure you want to cancel the invite?</p>
        <div class="text-align">
            <div class="btn btn-outline fs-12 mt-10" (click)="Close('close click')">No, keep it</div>
            <div class="btn btn-danger ml-2 mt-10 fs-12" (click)="resendDelete(0,contant)">Yes, Confirm</div>
        </div>
    </div>
</ng-template>
<ng-template #declineInvite let-d="dismiss" id="declineModel">
    <div class="lo-modal--header p-20">
        <span class="modal-close close" ngbAutofocus (click)="Close('close click')">
            <i class="fa fa-times" aria-hidden="true"></i>
        </span>
    </div>
    <div class="lo-modal-body p-30 pb-50 text-center mx-auto">
        <i class="fa fa-trash fa-3x" aria-hidden="true"></i>
        <p class="fs-20 mt-15"> Are you sure you want to cancel the invite?</p>
        <div class="text-align">
            <div class="btn btn-outline fs-12 mt-10" (click)="Close('close click')">No, keep it</div>
            <div class="btn btn-danger ml-2 mt-10 fs-12" (click)="acceptInvite(false,contant)">Yes, Confirm</div>
        </div>
    </div>
</ng-template>

<ng-template #sent let-d="dismiss" id="Modelsent">
    <div class="lo-modal--header p-20">
        <span class="modal-close close" ngbAutofocus (click)="Closesent('close click')">
            <i class="fa fa-times" aria-hidden="true"></i>
        </span>
    </div>
    <div class="lo-modal-body p-30 pb-50 text-cener mx-auto">
        <i class="fa fa-check fa-3x ml-121 text-green" aria-hidden="true"></i>
        <p class="fs-20 mt-15"> Your invitation has been resent to</p>

        <p class="fs-16 text-align">{{inviteName | uppercase}}</p>
        <div class="text-align">
            <div class="btn btn-outline fs-12 mt-10" (click)="Closesent('close click')">Close</div>
        </div>
    </div>
</ng-template>

<!--Client delete poup-->
<ng-template #clientdeletepop let-d="dismiss" id="deleteModel">
    <div class="lo-modal--header p-20">
        <span class="modal-close close" ngbAutofocus (click)="closeClientModel('close click')">
            <i class="fa fa-times" aria-hidden="true"></i>
        </span>
    </div>
    <div class="lo-modal-body p-30 pb-50 text-center mx-auto">
        <i class="fa fa-trash fa-3x" aria-hidden="true"></i>
        <p class="fs-20 mt-15"> Are you sure you want to inactive <b> {{clientUserName}}</b>?</p>
        <div class="text-align">
            <div class="btn btn-outline fs-12 mt-10" (click)="closeClientModel('close click')">No, keep it</div>
            <div class="btn btn-danger ml-20 mt-10 fs-12" (click)="inActiveClient()">Yes, Confirm</div>

        </div>
    </div>
</ng-template>
