<div class="lo-100">
  <div class="row bg-white header">
      <img src="../../../assets/logo.png" class="header-logo">
    </div>    
  <div class="container pb-30 mt-30 text-center">
    <div class="col-sm-5 mx-auto">
      <h5 class="fs-28">Great, Check Your Inbox</h5>
      <label class="mt-15">
        <!-- <i class="fa fa-envelope envelop-icon fa-10x"></i> -->
        <img src="../../../../assets/inbox.png">
      </label>
      <h6 class="fs-20">{{Email}}</h6>
      <!-- <p class="mt-16">Did not receive the confirmation email from us?
        <a class="text-primary pointer" (click)="reVerificationEmail()"  >Request a new one.</a> Email confirmation help us to ensure us?
         <label class="text-primary pointer" *ngIf="false" >Request
          a new once</label>
        </p> -->
    </div>
  </div>
</div>
