<div [ngSwitch]="fields.type" class="padding">

    <div *ngSwitchCase="'checkbox'" [ngStyle]="{'width': fields.width ? fields.width + 'px' : '300px' }">

        <label> <strong> {{ fields.displayName }} </strong></label>

        <span *ngIf="asteriskObj(applicantKey, parent, parentChild, fields)" class="danger">*</span>

        <div *ngIf="readOnlyObj(applicantKey, parent); then checkboxContlIf else checkboxContlEls">
        </div>

        <ng-template #checkboxContlIf>
            <div> {{ displayValue(parent, parentChild, fields.name) }} </div>
        </ng-template>

        <ng-template #checkboxContlEls>
            <input [name]="fields.name" type="checkbox" [value]="displayValue(parent, parentChild, fields.name)"
                [checked]="fields.value" (change)="change($event.target.checked, fields, parent, parentChild)">
        </ng-template>

    </div>

    <div *ngSwitchCase="'radio'" [ngStyle]="{'width': fields.width ? fields.width + 'px' : '300px' }">

        <label> <strong> {{ fields.displayName }} </strong></label>

        <span *ngIf="asteriskObj(applicantKey, parent, parentChild, fields)" class="danger">*</span>

        <div *ngIf="readOnlyObj(applicantKey, parent); then radioContlIf else radioContlEls"> </div>

        <ng-template #radioContlIf>
            <div> {{ displayValue(parent, parentChild, fields.name) }} </div>
        </ng-template>

        <ng-template #radioContlEls>
            <div class="d__flex padding">
                <div *ngFor="let radioOpt of fields.values" class="padding">
                    <input type="radio" [name]="fields.name" [id]="radioOpt.id"
                        [checked]="displayValue(parent, parentChild, fields.name) == radioOpt.id"
                        (change)="change(radioOpt.id, fields, parent, parentChild)">
                    {{radioOpt.text}}
                </div>
            </div>
        </ng-template>

        <div *ngIf="fields[displayValue(parent, parentChild, fields.name)]" class="d__flex">

            <div
                *ngFor="let hiddenProp of fields[displayValue(parent, parentChild, fields.name)]; let i = index; trackBy: trackByFn">

                <app-dyamic-template [fields]="hiddenProp" [parent]="parent" [applicantKey]="applicantKey"
                    [parentChild]="displayValue(parent, parentChild, fields.name)"></app-dyamic-template>
            </div>

        </div>

    </div>

    <div *ngSwitchCase="'textbox'" class="form-group"
        [ngStyle]="{'width': fields.width ? fields.width + 'px' : '300px' }">

        <label> <strong> {{ fields.displayName }} </strong></label>

        <span *ngIf="asteriskObj(applicantKey, parent, parentChild, fields)" class="danger">*</span>

        <div *ngIf="readOnlyObj(applicantKey, parent);then textboxContlIf else textboxContlEls"></div>

        <ng-template #textboxContlIf>
            <div> {{ displayValue(parent, parentChild, fields.name) }} </div>
        </ng-template>

        <ng-template #textboxContlEls>

            <div *ngIf="parentChild;then textboxChildContlIf else textboxChildContlEls"></div>

            <ng-template #textboxChildContlIf>

                <input [name]="fields.name" class="form-control" type="text" #textField
                    [value]="displayValue(parent, parentChild, fields.name)"
                    (input)="change($event.target.value, fields, parent, parentChild);">

                <span *ngIf="!commonService.fileData[applicantKey][parent][parentChild][fields.name].valid" class="danger">
                    {{ commonService.fileData[applicantKey][parent][parentChild][fields.name].message ?
                    commonService.fileData[applicantKey][parent][parentChild][fields.name].message :
                    commonService.validationMessage.common.required &&
                    !commonService.fileData[applicantKey][parent][parentChild].readOnly }}
                </span>

            </ng-template>

            <ng-template #textboxChildContlEls>

                <input [name]="fields.name" class="form-control" type="text" #textField
                    [value]="displayValue(parent, parentChild, fields.name)"
                    (input)="change($event.target.value, fields, parent, parentChild);">

                <span *ngIf="!commonService.fileData[applicantKey][parent][fields.name].valid" class="danger">
                    {{ commonService.fileData[applicantKey][parent][fields.name].message ?
                    commonService.fileData[applicantKey][parent][fields.name].message :
                    commonService.validationMessage.common.required &&
                    !commonService.fileData[applicantKey][parent].readOnly }}
                </span>

            </ng-template>

        </ng-template>

    </div>

    <div *ngSwitchCase="'textarea'" [ngStyle]="{'width': fields.width ? fields.width + 'px' : '300px' }">

        <label> <strong> {{ fields.displayName }} </strong></label>

        <span *ngIf="asteriskObj(applicantKey, parent, parentChild, fields)" class="danger">*</span>

        <div *ngIf="readOnlyObj(applicantKey, parent);then textareaContlIf else textareaContlEls"></div>

        <ng-template #textareaContlIf>
            <div> {{ displayValue(parent, parentChild, fields.name) }} </div>
        </ng-template>

        <ng-template #textareaContlEls>
            <textarea [name]="fields.name" [value]="displayValue(parent, parentChild, fields.name)"
                (input)="change($event.target.value, fields, parent, parentChild);"> </textarea>
        </ng-template>

    </div>

    <div *ngSwitchCase="'date'" [ngStyle]="{'width': fields.width ? fields.width + 'px' : '300px' }">

        <label> <strong>{{ fields.displayName }}</strong></label>

        <span *ngIf="asteriskObj(applicantKey, parent, parentChild, fields)" class="danger">*</span>

        <div *ngIf="readOnlyObj(applicantKey, parent);then dateContlIf else dateContlEls"></div>

        <ng-template #dateContlIf>
            <div> {{ displayValue(parent, parentChild, fields.name) }}</div>
        </ng-template>

        <ng-template #dateContlEls>
            <input type="date" class="form-control" [value]="displayValue(parent, parentChild, fields.name)"
                [name]="fields.name" (change)="change($event.target.value, fields, parent, parentChild);" />
        </ng-template>

    </div>

    <div *ngSwitchCase="'dropdown'" class="form-group"
        [ngStyle]="{'width': fields.width ? fields.width + 'px' : '300px' }">

        <label> <strong>{{ fields.displayName }} </strong></label>

        <span *ngIf="asteriskObj(applicantKey, parent, parentChild, fields)" class="danger">*</span>

        <div *ngIf="readOnlyObj(applicantKey, parent);then dropdownContlIf else dropdownContlEls"></div>

        <ng-template #dropdownContlIf>
            <div> {{ displayValue(parent, parentChild, fields.name) }}</div>
            <div *ngIf="fields[displayValue(parent, parentChild, fields.name)]">
                <div
                    *ngFor="let hiddenProp of fields[displayValue(parent, parentChild, fields.name)]; let i = index; trackBy: trackByFn">
                    <app-dyamic-template [fields]="hiddenProp" [applicantKey]="applicantKey"
                        [child]="displayValue(parent, parentChild, fields.name)"></app-dyamic-template>
                </div>
            </div>
        </ng-template>

        <ng-template #dropdownContlEls>

            <div *ngIf="parentChild;then dropdownChildContlIf else dropdownChildContlEls"></div>

            <ng-template #dropdownChildContlIf>

                <select [name]="fields.name" class="form-control" #selectVal
                    [(ngModel)]="commonService.fileData[applicantKey][parent][parentChild][fields.name].value"
                    (change)="change(selectVal.value, fields, parent, parentChild);">
                    <option *ngFor="let value of fields.list" [value]="value.text">{{ value.text }} </option>
                </select>

            </ng-template>

            <ng-template #dropdownChildContlEls>

                <select [name]="fields.name" class="form-control" #selectVal
                    [(ngModel)]="commonService.fileData[applicantKey][parent][fields.name].value"
                    (change)="change(selectVal.value, fields, parent, parentChild);">
                    <option *ngFor="let value of fields.list" [value]="value.text">{{ value.text }} </option>
                </select>

                <div *ngIf="fields[commonService.fileData[applicantKey][parent][fields.name].value]">

                    <div
                        *ngFor="let hiddenProp of fields[commonService.fileData[applicantKey][parent][fields.name].value]; let i = index; trackBy: trackByFn">
                        <app-dyamic-template [fields]="hiddenProp" [applicantKey]="applicantKey"
                            [child]="commonService.fileData[applicantKey][parent][fields.name].value">
                        </app-dyamic-template>
                    </div>

                </div>

            </ng-template>



        </ng-template>

    </div>

    <div *ngSwitchCase="'CurrentSpouse'" [ngStyle]="{'width': '900px' }">
        <app-spouse-details [fields]="fields" [applicantKey]="applicantKey"></app-spouse-details>
    </div>

    <div *ngSwitchCase="'ParentDetails'" [ngStyle]="{'width': '900px' }">
        <app-parent-details [fields]="fields" [parent]="parent" [child]="parentChild" [applicantKey]="applicantKey">
        </app-parent-details>
    </div>

    <div *ngSwitchCase="'chileDetails'" [ngStyle]="{'width': '900px' }">
        <app-child-details [fields]="fields" [parent]="parent" [child]="parentChild" [applicantKey]="applicantKey">
        </app-child-details>
    </div>

    <div *ngSwitchCase="'EmploymentHistory'" [ngStyle]="{'width': '900px' }">
        <app-employment-history [fields]="fields" [parent]="parent" [child]="parentChild" [applicantKey]="applicantKey">
        </app-employment-history>
    </div>

    <div *ngSwitchCase="'addressHistory'" [ngStyle]="{'width': '900px' }">
        <app-address-history [fields]="fields" [parent]="parent" [child]="parentChild" [applicantKey]="applicantKey">
        </app-address-history>
    </div>

    <div *ngSwitchCase="'educationDetails'" [ngStyle]="{'width': '900px' }">
        <app-education [fields]="fields" [parent]="parent" [child]="parentChild" [applicantKey]="applicantKey">
        </app-education>
    </div>

    <div *ngSwitchCase="'countryDetails'" [ngStyle]="{'width': '900px' }">
        <app-country-details [data]="commonService.fileData[applicantKey][parent].finalObj" [fields]="fields"
            [isCard]="commonService.fileData[applicantKey][parent].readOnly"
            (detailsEmit)="detailsEmit($event, parent, fields)" [applicantKey]="applicantKey"></app-country-details>
    </div>

    <div *ngSwitchCase="'empSupportDocs'" [ngStyle]="{'width': '900px' }">
        <app-employement-support-documents [applicantKey]="applicantKey"></app-employement-support-documents>
    </div>

    <div *ngSwitchCase="'periodOfStay'" [ngStyle]="{'width': '900px' }">
        <app-period-of-stay [applicantKey]="applicantKey"></app-period-of-stay>
    </div>

    <div *ngSwitchCase="'passportDetails'" [ngStyle]="{'width': '900px' }">
        <app-passport-details [applicantKey]="applicantKey"></app-passport-details>
    </div>

    <div *ngSwitchCase="'travelDocumentDetails'" [ngStyle]="{'width': '900px' }">
        <app-travel-document-details [applicantKey]="applicantKey"></app-travel-document-details>
    </div>

    <div *ngSwitchCase="'i94Record'" [ngStyle]="{'width': '900px' }">
        <app-i94-record [applicantKey]="applicantKey"></app-i94-record>
    </div>

</div>