<div class="passport__spouse">
    <div class="d__flex_between passport__spouse__div" *ngIf="passportDetails">
        <div>
            <div> Passport and Visa </div>
        </div>
        <button class="blue__button cursor__pointer" (click)="openSpouseDetails(passportModel)"> Add Details
        </button>
    </div>
    <div *ngIf="!passportDetails" class="card__data">
        <div class="d-flex justify-content-between align-items-center pl-10">
            <strong> Passport and Visa </strong>
            <div>
                <button class="cursor__pointer button__class bg-danger" (click)="deleteCard(passportDetails)">
                    Delete
                </button>
                <button class="cursor__pointer button__class" (click)="openSpouseDetails(passportModel)">
                    Change
                </button>
            </div>
        </div>
        <app-passport-details-popup [data]="finalObj()" [isCard]="true" (cardMode)="openSpouseDetails(passportModel)">
        </app-passport-details-popup>
        <div class="p-20">
            <input hidden type="file" accept="image/*" #file1
                (change)="uploadFile($event.target.files)">
            <a class="cursor__pointer" (click)="file1.click()" > <span class="text-info"> Attach passport </span>  </a>

            <div *ngFor="let file of passportList">
                {{ file }}
                <button type="button" class="btn btn-outline-light text-dark btn-sm ml-10"><i
                        class="fa fa-trash text-secondary"
                        (click)="deletePopup(deleteFile, file, 'resume')"></i></button>
            </div>
        </div>
    </div>

</div>

<ng-template #passportModel let-d="dismiss" id="passportModel">
    <app-passport-details-popup [data]="finalObj('passportDetails')" (emitCloseModel)="closeModel($event, 'passportDetails')">
    </app-passport-details-popup>
</ng-template>


<ng-template #deleteFile let-d="dismiss" id="deleteFile">
    <div class="lo-modal--header p-20">
      <span class="modal-close close" ngbAutofocus (click)="closeModal()">
        <i class="fa fa-times" aria-hidden="true"></i>
      </span>
    </div>
    <div class="lo-modal-body p-30 pb-50 text-center">
      <i class="fa fa-trash-alt fa-3x" aria-hidden="true"></i>
      <p class="taskGroupArchiveTitle">Are you sure you want delete this Period of stay info we will also deleted along
        with
        the files if any?
      </p>
      <div class="text-align">
        <div class="btn btn-outline fs-12 mt-10" (click)="closeModal()">No, keep it</div>
        <div class="btn btn-danger ml-20 mt-10 fs-12" (click)="deleteFiles(selectDeleteFile)">Yes, Confirm
        </div>
      </div>
    </div>
  </ng-template>